server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/Minaev-Aleksey/AstonConfigServise
          search-paths: configs
          clone-on-start: true